.article .mySlides > img {
  vertical-align: middle;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 350px;
  z-index: -1;
}

.article .mySlides {
  display: none;
}

.article .slideshow-container {
  z-index: 5;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.article .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.article .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.article .prev:hover, .article .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.article .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.article .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.article .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.article .active, .article .dot:hover {
  background-color: #717171;
}

.article .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .article .prev, .article .next, .article .text {
    font-size: 11px;
  }
}
